.container {
    color: white;
    text-align: center;
    padding-top: 150px;
}

.location-title {
  position: absolute;
  text-align: left;
  margin-left: 40px;
  margin-top: -70px;
}

.location-name {
  margin: 20px 0;
  font-size: 1.8rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.location-description {
  margin: 15px 20px 25px 20px;
  color: #e0e0e0;
}

.description-paragraph {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 1.1rem;
}

.location-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  padding-bottom: 80px;
}

button {
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #666;
  }
  
  .boss-info {
    margin-top: 20px;
  }
  
  .boss-info img {
    margin-top: 10px;
    border-radius: 10px;
    width: 320px;
    height: 280px;
  }